dist/fba.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mancr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="app.3fa33158acbff488549e.css" rel="stylesheet"></head>
  <body>
    <div class="main-container">
      <aside class="home-menu is-opened">
        <div class="logo d-flex justify-content-between"><span>Dashboard</span><i class="fas fa-bars cursor-pointer" data-toggle-class="is-opened" data-toggle-target=".home-menu"></i></div>
        <nav class="menu-list"><a href="/index.html"><i class="fas fa-home"></i><span>Home</span></a><a href="/inventory.html"><i class="fas fa-warehouse"></i><span>Inventory</span></a><a href="/products.html"> <i class="fas fa-box"></i><span>Products</span></a><a href="/orders.html"> <i class="fas fa-file-invoice-dollar"></i><span>FBM Orders</span></a>
          <div class="sub-menu"><a><i class="fas fa-shopping-basket"></i><span>Purchasing</span></a>
            <nav class="sub-menu-list"><a>Purchasing Estimate</a><a href="/purchasing/draft.html">Shipment Draft</a><a>Purchase Order</a><a>Domestic Supplier</a><a>International Supplier</a></nav>
          </div><a class="active" href="/fba.html"> <i class="fas fa-dolly-flatbed"></i><span>FBA</span></a>
          <div class="sub-menu"><a><i class="fas fa-ad"></i><span>Advertisement</span></a>
            <nav class="sub-menu-list"><a href="/advertisement/product.html">Sponsored Product</a><a>AMS</a></nav>
          </div><a><i class="fas fa-chart-bar"></i><span>Report</span></a><a> <i class="fas fa-receipt"></i><span>Refund</span></a><a> <i class="fas fa-file-alt"></i><span>Reimbursement</span></a><a href="/setting/index.html"> <i class="fas fa-cog"></i><span>Setting</span></a>
        </nav>
      </aside>
      <div class="main-container">
        <main class="main">
          <div class="top">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">FBA</li>
              </ol>
            </nav>
            <div class="right">
              <input class="mr-sm-2 form-control" placeholder="Search...">
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Logout</a><a class="dropdown-item" href="#">Edit</a></div>
              </div>
            </div>
          </div>
          <div class="p-3 fba-section">
            <div class="filter-action is-opened">
              <div class="card-body"></div>
            </div>
            <div class="mt-4">
              <div class="menu"></div>
              <div class="content">
                <div id="elfinder"></div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css">
    <script>
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });
      
      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();
      
    </script>
    <link rel="stylesheet" href="assets/elFinder-master/jquery/jquery-ui-1.12.0.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/commands.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/common.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/contextmenu.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/cwd.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/dialog.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/places.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/quicklook.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/statusbar.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/theme.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/toast.css" type="text/css">
    <link rel="stylesheet" href="assets/elFinder-master/css/toolbar.css" type="text/css">
    <script src="assets/elFinder-master/jquery/jquery-ui-1.12.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/elFinder-master/js/elFinder.js"></script>
    <script src="assets/elFinder-master/js/elFinder.version.js"></script>
    <script src="assets/elFinder-master/js/jquery.elfinder.js"></script>
    <script src="assets/elFinder-master/js/elFinder.mimetypes.js"></script>
    <script src="assets/elFinder-master/js/elFinder.options.js"></script>
    <script src="assets/elFinder-master/js/elFinder.options.netmount.js"></script>
    <script src="assets/elFinder-master/js/elFinder.history.js"></script>
    <script src="assets/elFinder-master/js/elFinder.command.js"></script>
    <script src="assets/elFinder-master/js/elFinder.resources.js"></script>
    <script src="assets/elFinder-master/js/jquery.dialogelfinder.js"></script>
    <script src="assets/elFinder-master/js/i18n/elfinder.en.js"></script>
    <script src="assets/elFinder-master/js/ui/button.js"></script>
    <script src="assets/elFinder-master/js/ui/contextmenu.js"></script>
    <script src="assets/elFinder-master/js/ui/cwd.js"></script>
    <script src="assets/elFinder-master/js/ui/dialog.js"></script>
    <script src="assets/elFinder-master/js/ui/fullscreenbutton.js"></script>
    <script src="assets/elFinder-master/js/ui/navbar.js"></script>
    <script src="assets/elFinder-master/js/ui/navdock.js"></script>
    <script src="assets/elFinder-master/js/ui/overlay.js"></script>
    <script src="assets/elFinder-master/js/ui/panel.js"></script>
    <script src="assets/elFinder-master/js/ui/path.js"></script>
    <script src="assets/elFinder-master/js/ui/places.js"></script>
    <script src="assets/elFinder-master/js/ui/searchbutton.js"></script>
    <script src="assets/elFinder-master/js/ui/sortbutton.js"></script>
    <script src="assets/elFinder-master/js/ui/stat.js"></script>
    <script src="assets/elFinder-master/js/ui/toast.js"></script>
    <script src="assets/elFinder-master/js/ui/toolbar.js"></script>
    <script src="assets/elFinder-master/js/ui/tree.js"></script>
    <script src="assets/elFinder-master/js/ui/uploadButton.js"></script>
    <script src="assets/elFinder-master/js/ui/viewbutton.js"></script>
    <script src="assets/elFinder-master/js/ui/workzone.js"></script>
    <script src="assets/elFinder-master/js/commands/archive.js"></script>
    <script src="assets/elFinder-master/js/commands/back.js"></script>
    <script src="assets/elFinder-master/js/commands/chmod.js"></script>
    <script src="assets/elFinder-master/js/commands/colwidth.js"></script>
    <script src="assets/elFinder-master/js/commands/copy.js"></script>
    <script src="assets/elFinder-master/js/commands/cut.js"></script>
    <script src="assets/elFinder-master/js/commands/download.js"></script>
    <script src="assets/elFinder-master/js/commands/duplicate.js"></script>
    <script src="assets/elFinder-master/js/commands/edit.js"></script>
    <script src="assets/elFinder-master/js/commands/empty.js"></script>
    <script src="assets/elFinder-master/js/commands/extract.js"></script>
    <script src="assets/elFinder-master/js/commands/forward.js"></script>
    <script src="assets/elFinder-master/js/commands/fullscreen.js"></script>
    <script src="assets/elFinder-master/js/commands/getfile.js"></script>
    <script src="assets/elFinder-master/js/commands/help.js"></script>
    <script src="assets/elFinder-master/js/commands/hidden.js"></script>
    <script src="assets/elFinder-master/js/commands/hide.js"></script>
    <script src="assets/elFinder-master/js/commands/home.js"></script>
    <script src="assets/elFinder-master/js/commands/info.js"></script>
    <script src="assets/elFinder-master/js/commands/mkdir.js"></script>
    <script src="assets/elFinder-master/js/commands/mkfile.js"></script>
    <script src="assets/elFinder-master/js/commands/netmount.js"></script>
    <script src="assets/elFinder-master/js/commands/open.js"></script>
    <script src="assets/elFinder-master/js/commands/opendir.js"></script>
    <script src="assets/elFinder-master/js/commands/opennew.js"></script>
    <script src="assets/elFinder-master/js/commands/paste.js"></script>
    <script src="assets/elFinder-master/js/commands/places.js"></script>
    <script src="assets/elFinder-master/js/commands/preference.js"></script>
    <script src="assets/elFinder-master/js/commands/quicklook.js"></script>
    <script src="assets/elFinder-master/js/commands/quicklook.plugins.js"></script>
    <script src="assets/elFinder-master/js/commands/reload.js"></script>
    <script src="assets/elFinder-master/js/commands/rename.js"></script>
    <script src="assets/elFinder-master/js/commands/resize.js"></script>
    <script src="assets/elFinder-master/js/commands/restore.js"></script>
    <script src="assets/elFinder-master/js/commands/rm.js"></script>
    <script src="assets/elFinder-master/js/commands/search.js"></script>
    <script src="assets/elFinder-master/js/commands/selectall.js"></script>
    <script src="assets/elFinder-master/js/commands/selectinvert.js"></script>
    <script src="assets/elFinder-master/js/commands/selectnone.js"></script>
    <script src="assets/elFinder-master/js/commands/sort.js"></script>
    <script src="assets/elFinder-master/js/commands/undo.js"></script>
    <script src="assets/elFinder-master/js/commands/up.js"></script>
    <script src="assets/elFinder-master/js/commands/upload.js"></script>
    <script src="assets/elFinder-master/js/commands/view.js"></script>
    <script src="assets/elFinder-master/js/proxy/elFinderSupportVer1.js"></script>
    <script src="assets/elFinder-master/js/extras/editors.default.js"></script>
    <script src="assets/elFinder-master/js/extras/quicklook.googledocs.js"></script>
    <script>
      $('#elfinder').elfinder(
        {
          cssAutoLoad : false,
          baseUrl : './',
          url : 'php/connector.minimal.php',
          getFileCallback : function(file) {
          },
        },
      );
    </script>
  <script type="text/javascript" src="app.3fa33158acbff488549e.bundle.js"></script></body>
</html>

src/views/pages/fba.pug
extends ../app.pug
block variables
  - var title = 'FBA'
  - var activePage = 'fba'
block header
  - var breads = [{ name:"FBA", href:""}]
    include ../particles/_breadcrumb.pug
block styles

block scripts
  link(rel='stylesheet', href='assets/elFinder-master/jquery/jquery-ui-1.12.0.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/commands.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/common.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/contextmenu.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/cwd.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/dialog.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/fonts.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/navbar.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/places.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/quicklook.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/statusbar.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/theme.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/toast.css', type='text/css')
  link(rel='stylesheet', href='assets/elFinder-master/css/toolbar.css', type='text/css')
  script(src='assets/elFinder-master/jquery/jquery-ui-1.12.0.js', type='text/javascript', charset='utf-8')
  script(src='assets/elFinder-master/js/elFinder.js')
  script(src='assets/elFinder-master/js/elFinder.version.js')
  script(src='assets/elFinder-master/js/jquery.elfinder.js')
  script(src='assets/elFinder-master/js/elFinder.mimetypes.js')
  script(src='assets/elFinder-master/js/elFinder.options.js')
  script(src='assets/elFinder-master/js/elFinder.options.netmount.js')
  script(src='assets/elFinder-master/js/elFinder.history.js')
  script(src='assets/elFinder-master/js/elFinder.command.js')
  script(src='assets/elFinder-master/js/elFinder.resources.js')
  script(src='assets/elFinder-master/js/jquery.dialogelfinder.js')
  script(src='assets/elFinder-master/js/i18n/elfinder.en.js')
  script(src='assets/elFinder-master/js/ui/button.js')
  script(src='assets/elFinder-master/js/ui/contextmenu.js')
  script(src='assets/elFinder-master/js/ui/cwd.js')
  script(src='assets/elFinder-master/js/ui/dialog.js')
  script(src='assets/elFinder-master/js/ui/fullscreenbutton.js')
  script(src='assets/elFinder-master/js/ui/navbar.js')
  script(src='assets/elFinder-master/js/ui/navdock.js')
  script(src='assets/elFinder-master/js/ui/overlay.js')
  script(src='assets/elFinder-master/js/ui/panel.js')
  script(src='assets/elFinder-master/js/ui/path.js')
  script(src='assets/elFinder-master/js/ui/places.js')
  script(src='assets/elFinder-master/js/ui/searchbutton.js')
  script(src='assets/elFinder-master/js/ui/sortbutton.js')
  script(src='assets/elFinder-master/js/ui/stat.js')
  script(src='assets/elFinder-master/js/ui/toast.js')
  script(src='assets/elFinder-master/js/ui/toolbar.js')
  script(src='assets/elFinder-master/js/ui/tree.js')
  script(src='assets/elFinder-master/js/ui/uploadButton.js')
  script(src='assets/elFinder-master/js/ui/viewbutton.js')
  script(src='assets/elFinder-master/js/ui/workzone.js')
  script(src='assets/elFinder-master/js/commands/archive.js')
  script(src='assets/elFinder-master/js/commands/back.js')
  script(src='assets/elFinder-master/js/commands/chmod.js')
  script(src='assets/elFinder-master/js/commands/colwidth.js')
  script(src='assets/elFinder-master/js/commands/copy.js')
  script(src='assets/elFinder-master/js/commands/cut.js')
  script(src='assets/elFinder-master/js/commands/download.js')
  script(src='assets/elFinder-master/js/commands/duplicate.js')
  script(src='assets/elFinder-master/js/commands/edit.js')
  script(src='assets/elFinder-master/js/commands/empty.js')
  script(src='assets/elFinder-master/js/commands/extract.js')
  script(src='assets/elFinder-master/js/commands/forward.js')
  script(src='assets/elFinder-master/js/commands/fullscreen.js')
  script(src='assets/elFinder-master/js/commands/getfile.js')
  script(src='assets/elFinder-master/js/commands/help.js')
  script(src='assets/elFinder-master/js/commands/hidden.js')
  script(src='assets/elFinder-master/js/commands/hide.js')
  script(src='assets/elFinder-master/js/commands/home.js')
  script(src='assets/elFinder-master/js/commands/info.js')
  script(src='assets/elFinder-master/js/commands/mkdir.js')
  script(src='assets/elFinder-master/js/commands/mkfile.js')
  script(src='assets/elFinder-master/js/commands/netmount.js')
  script(src='assets/elFinder-master/js/commands/open.js')
  script(src='assets/elFinder-master/js/commands/opendir.js')
  script(src='assets/elFinder-master/js/commands/opennew.js')
  script(src='assets/elFinder-master/js/commands/paste.js')
  script(src='assets/elFinder-master/js/commands/places.js')
  script(src='assets/elFinder-master/js/commands/preference.js')
  script(src='assets/elFinder-master/js/commands/quicklook.js')
  script(src='assets/elFinder-master/js/commands/quicklook.plugins.js')
  script(src='assets/elFinder-master/js/commands/reload.js')
  script(src='assets/elFinder-master/js/commands/rename.js')
  script(src='assets/elFinder-master/js/commands/resize.js')
  script(src='assets/elFinder-master/js/commands/restore.js')
  script(src='assets/elFinder-master/js/commands/rm.js')
  script(src='assets/elFinder-master/js/commands/search.js')
  script(src='assets/elFinder-master/js/commands/selectall.js')
  script(src='assets/elFinder-master/js/commands/selectinvert.js')
  script(src='assets/elFinder-master/js/commands/selectnone.js')
  script(src='assets/elFinder-master/js/commands/sort.js')
  script(src='assets/elFinder-master/js/commands/undo.js')
  script(src='assets/elFinder-master/js/commands/up.js')
  script(src='assets/elFinder-master/js/commands/upload.js')
  script(src='assets/elFinder-master/js/commands/view.js')
  script(src='assets/elFinder-master/js/proxy/elFinderSupportVer1.js')
  script(src='assets/elFinder-master/js/extras/editors.default.js')
  script(src='assets/elFinder-master/js/extras/quicklook.googledocs.js')
  script.
    $('#elfinder').elfinder(
      {
        cssAutoLoad : false,
        baseUrl : './',
        url : 'php/connector.minimal.php',
        getFileCallback : function(file) {
        },
      },
    );
block content
  .p-3.fba-section
    div.filter-action.is-opened
      .card-body
    div.mt-4
      .menu
      .content
        #elfinder
