dist/inventory.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mancr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="app.3fa33158acbff488549e.css" rel="stylesheet"></head>
  <body>
    <div class="main-container">
      <aside class="home-menu is-opened">
        <div class="logo d-flex justify-content-between"><span>Dashboard</span><i class="fas fa-bars cursor-pointer" data-toggle-class="is-opened" data-toggle-target=".home-menu"></i></div>
        <nav class="menu-list"><a href="/index.html"><i class="fas fa-home"></i><span>Home</span></a><a class="active" href="/inventory.html"><i class="fas fa-warehouse"></i><span>Inventory</span></a><a href="/products.html"> <i class="fas fa-box"></i><span>Products</span></a><a href="/orders.html"> <i class="fas fa-file-invoice-dollar"></i><span>FBM Orders</span></a>
          <div class="sub-menu"><a><i class="fas fa-shopping-basket"></i><span>Purchasing</span></a>
            <nav class="sub-menu-list"><a>Purchasing Estimate</a><a href="/purchasing/draft.html">Shipment Draft</a><a>Purchase Order</a><a>Domestic Supplier</a><a>International Supplier</a></nav>
          </div><a href="/fba.html"> <i class="fas fa-dolly-flatbed"></i><span>FBA</span></a>
          <div class="sub-menu"><a><i class="fas fa-ad"></i><span>Advertisement</span></a>
            <nav class="sub-menu-list"><a href="/advertisement/product.html">Sponsored Product</a><a>AMS</a></nav>
          </div><a><i class="fas fa-chart-bar"></i><span>Report</span></a><a> <i class="fas fa-receipt"></i><span>Refund</span></a><a> <i class="fas fa-file-alt"></i><span>Reimbursement</span></a><a href="/setting/index.html"> <i class="fas fa-cog"></i><span>Setting</span></a>
        </nav>
      </aside>
      <div class="main-container">
        <main class="main">
          <div class="top">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">庫存</li>
              </ol>
            </nav>
            <div class="right">
              <input class="mr-sm-2 form-control" placeholder="Search...">
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Logout</a><a class="dropdown-item" href="#">Edit</a></div>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body d-flex py-3">
              <input class="form-control ml-auto" name="dates" style="width: 200px;">
            </div>
          </div>
          <div class="p-3">
            <div class="stock-wrapper">
              <div class="left">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <div class="chart-container">
                      <div id="chart"></div>
                      <div class="mt-auto" style="margin-left: 30px;">
                        <h6 class="mb-0">$400,000.00, 15000 Items in Warehouses</h6>
                        <h6 class="mb-0">$560,336.42, 6285 Items in Amazon</h6>
                        <h6 class="mb-0">$10,000.00, 1000 Items on Order</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div>
                  <h3><strong>Total Cost $ 960,336.42 for 21285 Items</strong></h3>
                  <div class="scrollbar-wrapper scrollbar-outer">
                    <table class="mb-0 table table-sm stock-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="sortable"> <span class="in-sort">SKU Count</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 1</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 2</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 3</span></th>
                          <th class="sortable"> <span class="in-sort">Other</span></th>
                          <th class="sortable"> <span class="in-sort">Unit Count</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 1</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 2</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 3</span></th>
                          <th class="sortable"> <span class="in-sort">Other</span></th>
                          <th class="sortable"> <span class="in-sort">Cost</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 1</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 2</span></th>
                          <th class="sortable"> <span class="in-sort">Brand 3</span></th>
                          <th class="sortable"><span class="in-sort">Other</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Inbound</td>
                          <td>161</td>
                          <td>20</td>
                          <td>20</td>
                          <td>10</td>
                          <td>111</td>
                          <td>1076</td>
                          <td>420</td>
                          <td>316</td>
                          <td>100</td>
                          <td>240</td>
                          <td>$12,550.56</td>
                          <td>$8,000</td>
                          <td>$1,000</td>
                          <td>$1,550.56</td>
                          <td>$2,000</td>
                        </tr>
                        <tr>
                          <td>Fulfillable</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Reserver</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Unfalfillable</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>WH1</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>WH2</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>161</td>
                          <td>20</td>
                          <td>20</td>
                          <td>10</td>
                          <td>111</td>
                          <td>1076</td>
                          <td>420</td>
                          <td>316</td>
                          <td>100</td>
                          <td>240</td>
                          <td>$12,550.56</td>
                          <td>$8,000</td>
                          <td>$1,000</td>
                          <td>$1,550.56</td>
                          <td>$2,000</td>
                        </tr>
                        <tr>
                          <td>On order</td>
                          <td>161</td>
                          <td>20</td>
                          <td>20</td>
                          <td>10</td>
                          <td>111</td>
                          <td>1076</td>
                          <td>420</td>
                          <td>316</td>
                          <td>100</td>
                          <td>240</td>
                          <td>$12,550.56</td>
                          <td>$8,000</td>
                          <td>$1,000</td>
                          <td>$1,550.56</td>
                          <td>$2,000</td>
                        </tr>
                        <tr>
                          <td>Grand order</td>
                          <td>161</td>
                          <td>20</td>
                          <td>20</td>
                          <td>10</td>
                          <td>111</td>
                          <td>1076</td>
                          <td>420</td>
                          <td>316</td>
                          <td>100</td>
                          <td>240</td>
                          <td>$12,550.56</td>
                          <td>$8,000</td>
                          <td>$1,000</td>
                          <td>$1,550.56</td>
                          <td>$2,000</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="inventory-table table-dragable export-area mt-4" data-formats="xlsx" data-table-name="inventory">
                      <div class="d-flex mb-3">
                        <div class="mr-4"><span>Show</span>
                          <div class="d-inline-block mx-2">
                            <select class="form-control">
                              <option>5</option>
                              <option>10</option>
                              <option>20</option>
                              <option>50</option>
                            </select>
                          </div><span>entries</span>
                        </div>
                        <div><span>Search:</span>
                          <div class="d-inline-block mx-2">
                            <input class="form-control" placeholder="Search...">
                          </div>
                        </div>
                        <div class="ml-auto">
                          <button class="btn btn-primary btn-xlsx">Export to Excel</button>
                        </div>
                      </div>
                      <table class="table table-bordered bg-white" id="inventory-excel">
                        <thead>
                          <tr>
                            <th class="sortable"> <a>SKU</a></th>
                            <th class="sortable"> <a>ASIN</a></th>
                            <th class="sortable"> <a>Product Name</a></th>
                            <th class="sortable"> <a>Inbound</a></th>
                            <th class="sortable"> <a>Available</a></th>
                            <th class="sortable"> <a>Unfalfillable</a></th>
                            <th class="sortable"> <a>Reserver</a></th>
                            <th class="sortable"> <a>WH1</a></th>
                            <th class="sortable"> <a>WH2</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>21</td>
                            <td>productA</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>21</td>
                            <td>productB</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>21</td>
                            <td>productC</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>21</td>
                            <td>productD</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>31</td>
                            <td>productE</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>productF</td>
                            <td>60</td>
                            <td>30</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>30</td>
                          </tr>
                        </tbody>
                      </table>
                      <nav>
                        <ul class="pagination justify-content-end mb-0">
                          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active" aria-current="page"><a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css">
    <script>
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });
      
      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();
      
    </script>
    <link rel="stylesheet" href="//rawgithub.com/akottr/dragtable/master/dragtable.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//rawgithub.com/akottr/dragtable/master/jquery.dragtable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      const series = [];
      const labels = [];
      var tableData = [
        { title: 'Inbound', sku: 161, unit: 1076, cost: '$12,550.56' },
        { title: 'Fulfillable', sku: 0, unit: 0, cost: 0.0 },
        { title: 'Reserver', sku: 134, unit: 9550, cost: '$369,625.54' },
        { title: 'Unfalfillable', sku: 240, unit: 10659, cost: '$578,160.32' },
      ]
      var tableColumns = [
        { prop: 'title', label: '', width: 180 },
        { prop: 'sku', label: 'SKU Count', sortable: true },
        { prop: 'unit', label: 'Unit Count', sortable: true },
        { prop: 'cost', label: 'Cost', sortable: true, type: 'dollar' },
      ]
      
      tableData.forEach(data => {
        series.push(Number(data.cost.toString().replace(/[^0-9\.-]+/g,"")));
        labels.push(data.title + ' ' + data.cost);
      })
      
      var options = {
        chart: {
          type: 'pie',
          width: 480,
          fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
        },
        colors: ['#5a62e8', '#3e5bf3', '#3776ec', '#37d4ec'],
        dataLabels: {
          style: {
            fontSize: '14.4px'
          }
        },
        legend: {
          fontSize: '14.4px',
          fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
        },
        series,
        labels,
        responsive: [{
            breakpoint: 1600,
            options: {
                chart: {
                  width: 340
                },
                legend: {
                  position: 'bottom',
                  width: 240,
                  horizontalAlign: 'left',
                  itemMargin: {
                    horizontal: 0,
                    vertical: 20,
                  },
                }
            }
        }]
      }
      
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
      $('#inventory-excel').dragtable({
        maxMovingRows:1,
        clickDelay: 500
      });
    </script>
  <script type="text/javascript" src="app.3fa33158acbff488549e.bundle.js"></script></body>
</html>

src/views/pages/inventory.pug
extends ../app.pug
block variables
  - var title = '庫存'
  - var activePage = 'inventory'
block header
  - var breads = [{ name:"庫存", href:""}]
    include ../particles/_breadcrumb.pug

  -
    var datas = [  
      {  
        "sku": 1,
        "asin": 21,
        "productName": "productA",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 2,
        "asin": 21,
        "productName": "productB",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 3,
        "asin": 21,
        "productName": "productC",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 4,
        "asin": 21,
        "productName": "productD",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 5,
        "asin": 31,
        "productName": "productE",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
      {  
        "sku": 6,
        "asin": 7,
        "productName": "productF",
        "inbound": 60,
        "available":30,
        "unfalfillable":10,
        "reserver":20,
        "wh1": 30,
        "wh2": 30,
      },
    ]
  -
    var columns = [
      {"prop": "sku", "label": "SKU"},
      {"prop": "asin", "label": "ASIN"},
      {"prop": "productName", "label": "Product Name"},
      {"prop": "inbound", "parent": "FBA", "label": "Inbound", "searchable": false},
      {"prop": "available", "parent": "FBA", "label": "Available", "searchable": false},
      {"prop": "unfalfillable", "parent": "FBA", "label": "Unfalfillable", "searchable": false},
      {"prop": "reserver", "parent": "FBA", "label": "Reserver", "searchable": false},
      {"prop": "wh1", "label": "WH1", "searchable": false},
      {"prop": "wh2", "label": "WH2", "searchable": false},
    ]
block content
  include ../particles/_dates-area.pug
  .p-3
    .stock-wrapper
      .left
        .card
          .card-body.d-flex.flex-column
            .chart-container
              #chart
              .mt-auto(style="margin-left: 30px;")
                h6.mb-0 $400,000.00, 15000 Items in Warehouses
                h6.mb-0 $560,336.42, 6285 Items in Amazon
                h6.mb-0 $10,000.00, 1000 Items on Order
      .right
        div
          h3
            strong Total Cost $ 960,336.42 for 21285 Items
          .scrollbar-wrapper.scrollbar-outer
            table.mb-0.table.table-sm.stock-table
              thead
                tr
                  th
                  th.sortable 
                    span.in-sort SKU Count
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable 
                    span.in-sort Other
                  th.sortable 
                    span.in-sort Unit Count
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable 
                    span.in-sort Other
                  th.sortable 
                    span.in-sort Cost
                  th.sortable 
                    span.in-sort Brand 1
                  th.sortable 
                    span.in-sort Brand 2
                  th.sortable 
                    span.in-sort Brand 3
                  th.sortable
                    span.in-sort Other
              tbody
                tr
                  td Inbound
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td Fulfillable
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Reserver
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Unfalfillable
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
              tfoot
                tr
                  td WH1
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td WH2
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                  td 0
                tr
                  td Total
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td On order
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000
                tr
                  td Grand order
                  td 161
                  td 20
                  td 20
                  td 10
                  td=161-20-20-10
                  td 1076
                  td 420
                  td 316
                  td 100
                  td=1076-420-316-100
                  td $12,550.56
                  td $8,000
                  td $1,000
                  td $1,550.56
                  td $2,000

    .row.mt-4
      .col-12
        .card
          .card-body
            .inventory-table.table-dragable.export-area.mt-4(data-formats='xlsx' data-table-name="inventory")
              .d-flex.mb-3
                div.mr-4
                  span Show
                  .d-inline-block.mx-2
                    select.form-control
                      option 5
                      option 10
                      option 20
                      option 50
                  span entries
                div
                  span Search:
                  .d-inline-block.mx-2
                    input.form-control(placeholder="Search...")
                .ml-auto
                  button.btn.btn-primary.btn-xlsx Export to Excel
              table#inventory-excel.table.table-bordered.bg-white
                thead
                  tr
                    each col in columns
                      th.sortable 
                        a= col.label
                tbody
                  each data in datas
                    tr
                      each col in columns
                        td= data[col.prop]
              include ../particles/_pagination.pug

block scripts
  link(rel="stylesheet" href="//rawgithub.com/akottr/dragtable/master/dragtable.css")
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js')
  script(type='text/javascript' src='//rawgithub.com/akottr/dragtable/master/jquery.dragtable.js')
  script(src="https://cdn.jsdelivr.net/npm/apexcharts")
  script.
    const series = [];
    const labels = [];
    var tableData = [
      { title: 'Inbound', sku: 161, unit: 1076, cost: '$12,550.56' },
      { title: 'Fulfillable', sku: 0, unit: 0, cost: 0.0 },
      { title: 'Reserver', sku: 134, unit: 9550, cost: '$369,625.54' },
      { title: 'Unfalfillable', sku: 240, unit: 10659, cost: '$578,160.32' },
    ]
    var tableColumns = [
      { prop: 'title', label: '', width: 180 },
      { prop: 'sku', label: 'SKU Count', sortable: true },
      { prop: 'unit', label: 'Unit Count', sortable: true },
      { prop: 'cost', label: 'Cost', sortable: true, type: 'dollar' },
    ]

    tableData.forEach(data => {
      series.push(Number(data.cost.toString().replace(/[^0-9\.-]+/g,"")));
      labels.push(data.title + ' ' + data.cost);
    })

    var options = {
      chart: {
        type: 'pie',
        width: 480,
        fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
      },
      colors: ['#5a62e8', '#3e5bf3', '#3776ec', '#37d4ec'],
      dataLabels: {
        style: {
          fontSize: '14.4px'
        }
      },
      legend: {
        fontSize: '14.4px',
        fontFamily: 'Calibri, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif',
      },
      series,
      labels,
      responsive: [{
          breakpoint: 1600,
          options: {
              chart: {
                width: 340
              },
              legend: {
                position: 'bottom',
                width: 240,
                horizontalAlign: 'left',
                itemMargin: {
                  horizontal: 0,
                  vertical: 20,
                },
              }
          }
      }]
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
    $('#inventory-excel').dragtable({
      maxMovingRows:1,
      clickDelay: 500
    });
