dist/setting/staff/show.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mancr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="../../app.3fa33158acbff488549e.css" rel="stylesheet"></head>
  <body>
    <div class="main-container">
      <aside class="home-menu is-opened">
        <div class="logo d-flex justify-content-between"><span>Dashboard</span><i class="fas fa-bars cursor-pointer" data-toggle-class="is-opened" data-toggle-target=".home-menu"></i></div>
        <nav class="menu-list"><a href="/index.html"><i class="fas fa-home"></i><span>Home</span></a><a href="/inventory.html"><i class="fas fa-warehouse"></i><span>Inventory</span></a><a href="/products.html"> <i class="fas fa-box"></i><span>Products</span></a><a href="/orders.html"> <i class="fas fa-file-invoice-dollar"></i><span>FBM Orders</span></a>
          <div class="sub-menu"><a><i class="fas fa-shopping-basket"></i><span>Purchasing</span></a>
            <nav class="sub-menu-list"><a>Purchasing Estimate</a><a href="/purchasing/draft.html">Shipment Draft</a><a>Purchase Order</a><a>Domestic Supplier</a><a>International Supplier</a></nav>
          </div><a href="/fba.html"> <i class="fas fa-dolly-flatbed"></i><span>FBA</span></a>
          <div class="sub-menu"><a><i class="fas fa-ad"></i><span>Advertisement</span></a>
            <nav class="sub-menu-list"><a href="/advertisement/product.html">Sponsored Product</a><a>AMS</a></nav>
          </div><a><i class="fas fa-chart-bar"></i><span>Report</span></a><a> <i class="fas fa-receipt"></i><span>Refund</span></a><a> <i class="fas fa-file-alt"></i><span>Reimbursement</span></a><a class="active" href="/setting/index.html"> <i class="fas fa-cog"></i><span>Setting</span></a>
        </nav>
      </aside>
      <div class="main-container">
        <main class="main">
          <div class="top">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/setting/">Setting</a></li>
                <li class="breadcrumb-item"><a href="/setting/staff/index.html">Staff</a></li>
                <li class="breadcrumb-item active" aria-current="page">John</li>
              </ol>
            </nav>
            <div class="right">
              <input class="mr-sm-2 form-control" placeholder="Search...">
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Logout</a><a class="dropdown-item" href="#">Edit</a></div>
              </div>
            </div>
          </div>
          <div class="px-3">
            <nav class="setting-nav"><a href="/setting/index.html">Setting</a><a href="/setting/account/index.html">帳號</a><a href="/setting/warehouse/index.html">倉庫</a><a class="active" href="/setting/staff/index.html">員工</a><a href="/setting/vendor/index.html">廠商</a><a href="/setting/sop/index.html">SOP</a></nav>
            <div class="py-3">
              <div style="max-width: 700px">
                <div class="d-flex align-items-center justify-content-between"><a class="btn btn-sm btn-light ml-1" href="/setting/staff/index.html">返回列表</a>
                  <div><a class="btn btn-sm btn-primary ml-1" href="/setting/staff/edit.html">Edit</a>
                    <button class="btn btn-sm btn-success leave-btn ml-1" data-staff-id="2" data-toggle="modal" data-target="#leave-modal">請假</button>
                    <button class="btn btn-sm btn-info auth-btn ml-1" data-staff-id="2" data-auth="1,2,4" data-toggle="modal" data-target="#auth-modal">權限設定</button>
                    <button class="btn btn-sm btn-danger stop-btn ml-1" data-staff-id="2" data-toggle="modal" data-target="#stop-modal">終止合作</button>
                  </div>
                </div>
                <div class="card mt-2">
                  <div class="card-body">
                    <table class="table table-sm table-borderless mt-2"> 
                      <tbody>
                        <tr>
                          <th class="text-right">名字</th>
                          <td>John</td>
                          <th class="text-right">員工代碼</th>
                          <td>12345667</td>
                        </tr>
                        <tr> 
                          <th class="text-right">地址</th>
                          <td>XXX路一段30號</td>
                          <th class="text-right">電話</th>
                          <td>0912345678</td>
                        </tr>
                        <tr>
                          <th class="text-right">ID</th>
                          <td>ID 1: A123456789 <br>ID 2: A123456789 <br>ID 3: A123456789 </td>
                          <th class="text-right">銀行帳號</th>
                          <td>銀行編碼: 812 <br>銀行帳號: 100012345678</td>
                        </tr>
                        <tr>
                          <th class="text-right">Email </th>
                          <td>公用: sample@mail.com <br>私人: sample@mail.com  </td>
                          <th class="text-right">登入密碼重置</th>
                          <td>
                            <div class="input-group">
                              <input class="form-control form-control-sm" type="password" placeholder="new password">
                              <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" type="button">重置</button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-right">獎金累積</th>
                          <td>2 嘉獎, 0 小功</td>
                          <th class="text-right">目前薪資</th>
                          <td>$40,000
                            <button class="btn btn-sm btn-secondary ml-2">調整薪水</button>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-right">特休</th>
                          <td>3.5 天</td>
                          <th class="text-right">上次調薪日期</th>
                          <td>2018-06</td>
                        </tr>
                        <tr>
                          <th class="text-right">請假</th>
                          <td>2016: 3 事假, 2 特休</td>
                          <th class="text-right">建議下次調薪日期</th>
                          <td>2019-06
                            <button class="btn btn-sm btn-secondary ml-2">調整系統建議</button>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-right">獎懲制度</th>
                          <td> 
                            <div class="form-check">
                              <input class="form-check-input" id="chk1" type="checkbox" value="1">
                              <label class="form-check-label" for="chk1">626-949</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" id="chk2" type="checkbox" value="1">
                              <label class="form-check-label" for="chk2">491-608</label>
                            </div>
                          </td>
                          <th class="text-right">薪水變更設定</th>
                          <td> 
                            <div class="form-check">
                              <input class="form-check-input" id="chk3" type="checkbox" value="1">
                              <label class="form-check-label" for="chk3">勞保自付額</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" id="chk4" type="checkbox" value="1">
                              <label class="form-check-label" for="chk4">建保自負額</label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="auth-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form>
                  <input type="hidden" name="staff_id">
                  <div class="modal-header">
                    <h5 class="modal-title">權限設定</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="auth1" type="checkbox" value="1">
                      <label class="form-check-label" for="auth1">產品管理</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="auth2" type="checkbox" value="2">
                      <label class="form-check-label" for="auth2">訂單管理</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="auth3" type="checkbox" value="3">
                      <label class="form-check-label" for="auth3">員工管理</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="auth4" type="checkbox" value="4">
                      <label class="form-check-label" for="auth4">設定</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" id="auth5" type="checkbox" value="5">
                      <label class="form-check-label" for="auth5">Admin</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" data-dismiss="modal">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal" id="stop-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form>
                  <input type="hidden" name="staff_id">
                  <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">終止合作</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <p>確定終止合作嗎？</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit" data-dismiss="modal">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal" id="leave-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form>
                  <input type="hidden" name="staff_id">
                  <div class="modal-header">
                    <h5 class="modal-title">請假</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <th>
                            <label class="col-form-label">日期</label>
                          </th>
                          <td>
                            <div class="d-flex">
                              <label class="col-form-label">#1</label>
                              <input class="form-control ml-2" name="dates[]" style="width: 280px;">
                            </div>
                          </td>
                          <td>
                            <button class="btn btn-sm btn-success add-date-btn" type="button">Add</button>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <label class="col-form-label">事由</label>
                          </th>
                          <td colspan="2">
                            <input class="form-control" placeholder="請輸入原因">
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <label>類型</label>
                          </th>
                          <td colspan="2">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" id="type1" type="checkbox" value="1">
                              <label class="form-check-label" for="type1">功假</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" id="type2" type="checkbox" value="2">
                              <label class="form-check-label" for="type2">事假</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" id="type3" type="checkbox" value="3">
                              <label class="form-check-label" for="type3">病假</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" id="type4" type="checkbox" value="4">
                              <label class="form-check-label" for="type4">婚假</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" id="type5" type="checkbox" value="5">
                              <label class="form-check-label" for="type5">特休</label>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit" data-dismiss="modal">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css">
    <script>
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });
      
      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();
      
    </script>
    <script>
      $('.auth-btn').click(function() {
        var staffId = $(this).data('staffId');
        var auth = $(this).data('auth').split(',');
        $('#auth-modal').find('input[name="staff_id"]').val(staffId);
        var $checkbox = $('#auth-modal').find('input[type="checkbox"]');
        $.each( $checkbox, function( i, chk ) {
          chk.checked = auth.indexOf(chk.value) > -1 ? true : false;
        })
      });
      $('.stop-btn').click(function() {
        var staffId = $(this).data('staffId');
        $('#stop-modal').find('input[name="staff_id"]').val(staffId);
      });
      $('.leave-btn').click(function() {
        var staffId = $(this).data('staffId');
        $('#leave-modal').find('input[name="staff_id"]').val(staffId);
      });
      $('.add-date-btn').click(function() {
        var $dateWrapper = $($(this).parent().prev());
        var dateChildren = $dateWrapper.children();
        var index = dateChildren.length + 1;
        $newDiv = $('<div class="d-flex mt-1 align-items-start"><label class="col-form-label">#'+index+'</label><input class="form-control ml-2" name="dates[]" style="width: 220px;" /><button class="btn btn-danger btn-sm ml-2 del-btn" type="button">Del</button></div>')
        setDate($newDiv.find('input[name="dates[]"]'));
        $newDiv.find('.del-btn').click(function() {
          $(this).parent().remove();
          var $newChildren = $dateWrapper.children();
          $.each( $newChildren, function( i, child ) {
            $(child).find('.col-form-label').html('#'+ (+i + 1));
          })
        });
        $dateWrapper.append($newDiv);
      }) 
      setDate($('input[name="dates[]"]'));
      function setDate($target) {
        $target.daterangepicker({
          "timePicker": true,
          "opens": "left",
          "showCustomRangeLabel": false,
          locale: {
            format: 'M/DD hh:mm A'
          }
        });
      }
    </script>
  <script type="text/javascript" src="../../app.3fa33158acbff488549e.bundle.js"></script></body>
</html>

src/views/pages/setting/staff/show.pug
extends ../../../app.pug
block variables
  - var title = 'Setting - Staff'
  - var activePage = 'setting'
  - var subPage = 'setting-4'
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Staff", href:"/setting/staff/index.html"}, { name:"John", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/staff/index.html") 返回列表
            div
              a.btn.btn-sm.btn-primary.ml-1(href="/setting/staff/edit.html") Edit
              button.btn.btn-sm.btn-success.leave-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#leave-modal") 請假
              button.btn.btn-sm.btn-info.auth-btn.ml-1(data-staff-id="2" data-auth="1,2,4" data-toggle="modal" data-target="#auth-modal") 權限設定
              button.btn.btn-sm.btn-danger.stop-btn.ml-1(data-staff-id="2" data-toggle="modal" data-target="#stop-modal") 終止合作
        .card.mt-2
          .card-body
            table.table.table-sm.table-borderless.mt-2 
              tbody
                tr
                  th.text-right 名字
                  td John
                  th.text-right 員工代碼
                  td 12345667
                tr 
                  th.text-right 地址
                  td XXX路一段30號
                  th.text-right 電話
                  td 0912345678
                tr
                  th.text-right ID
                  td
                    | ID 1: A123456789 
                    br
                    | ID 2: A123456789 
                    br
                    | ID 3: A123456789 
                  th.text-right 銀行帳號
                  td
                    | 銀行編碼: 812 
                    br
                    | 銀行帳號: 100012345678
                tr
                  th.text-right Email 
                  td
                    | 公用: sample@mail.com 
                    br
                    | 私人: sample@mail.com  
                  th.text-right 登入密碼重置
                  td
                    .input-group
                      input.form-control.form-control-sm(type='password', placeholder="new password")
                      .input-group-append
                        button.btn.btn-secondary.btn-sm(type='button') 重置
                tr
                  th.text-right 獎金累積
                  td 2 嘉獎, 0 小功
                  th.text-right 目前薪資
                  td $40,000
                    button.btn.btn-sm.btn-secondary.ml-2 調整薪水
                tr
                  th.text-right 特休
                  td 3.5 天
                  th.text-right 上次調薪日期
                  td 2018-06
                tr
                  th.text-right 請假
                  td 2016: 3 事假, 2 特休
                  th.text-right 建議下次調薪日期
                  td 2019-06
                    button.btn.btn-sm.btn-secondary.ml-2 調整系統建議
                tr
                  th.text-right 獎懲制度
                  td 
                    .form-check
                      input#chk1.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk1') 626-949
                    .form-check
                      input#chk2.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk2') 491-608
                  th.text-right 薪水變更設定
                  td 
                    .form-check
                      input#chk3.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk3') 勞保自付額
                    .form-check
                      input#chk4.form-check-input(type='checkbox', value='1')
                      label.form-check-label(for='chk4') 建保自負額
  include ./modal/_layout.pug

block scripts
  include ./modal/_js.pug
