src/views/pages/purchasing/draft.pug
extends ../../app.pug
block variables
  - var title = 'Shipment Draft'
  - var activePage = 'purchasing'
  - var subPage = 'purchasing-1'
block header
  - var breads = [{ name:"Shipment Draft", href:""}]
    include ../../particles/_breadcrumb.pug
block styles
  style.
    form th {
      text-align: right;
      width: 100px;
    }
block scripts
  link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
      var availableTags = [
        "Amy",
        "Bill",
        "Cindy",
        "Dara",
        "Eva",
        "Frank",
        "Gigi",
        "Harry",
        "Ivy",
        "Joe",
        "Kevin",
        "Leo",
        "Mark",
        "Natalia",
        "Oliver",
        "Porter",
        "Queen",
        "Ross",
        "Sarah",
        "Tom",
        "Uba",
        "Van",
        "Wendy",
        "Xena",
        "Yvon",
        "Zoe",
      ];
      $( ".tags" ).autocomplete({
        source: availableTags
      });

      var $wrapper = $('#list-wrapper');
      function checkList() {
        var length = $wrapper.children().length;
        if (length) {
          $wrapper.addClass('has-value');
        } else {
          $wrapper.removeClass('has-value');
        }
      }
      
      $('.list-input').blur(function() {
        $(this).removeClass('is-invalid');
      });
      $('#add-list').click(function() {
        var $sku = $('#list-sku');
        var $count = $('#list-count');
        
        var error = false;
        if (!$sku.val()) {
          $sku.addClass('is-invalid');
          error = true;
        }
        if (!$count.val()) {
          $count.addClass('is-invalid');
          error = true;
        }
        if (!error) {
          var li = document.createElement("li");
          var btn = document.createElement("button");
          li.innerHTML = '<span> SKU: ' + $sku.val() + ' / Count: ' + $count.val() + '</span>'
          btn.type = 'button';
          btn.className = 'btn btn-sm';
          btn.innerHTML = '<i class="fas fa-trash-alt"></i>';
          btn.addEventListener("click", function(){ 
            $(this).parent().remove();
            checkList();
          });
          $(li).append(btn);
          $wrapper.append(li);
          $sku.val('');
          $count.val('');
          checkList();
        }
      });


block content
  include ../../particles/_dates-area.pug
  .p-3.draft-section
    ul.nav.nav-tabs.draft-tabs(role='tablist')
      li.nav-item
        a#draft-0-tab.nav-link.active(data-toggle='tab', href='#draft-0', role='tab', aria-controls='draft-0', aria-selected='true') Draft
      li.nav-item
        a#draft-1-tab.nav-link(data-toggle='tab', href='#draft-1', role='tab', aria-controls='draft-1', aria-selected='true') Draft 審查
      li.nav-item
        a#draft-2-tab.nav-link(data-toggle='tab', href='#draft-2', role='tab', aria-controls='draft-2', aria-selected='false') Draft 轉訂單
    .tab-content
      #draft-0.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='draft-0-tab') 
        .card.my-2.top-action
          .card-body
            .top-action-body.mb-2
              button.btn.btn-warning.mr-2 設為預設值
              button.btn.btn-warning.mr-2 下載 EXCEL
              .d-inline-block
                .input-group
                  .input-group-prepend
                    span#inputGroupFileAddon01.input-group-text Upload
                  .custom-file
                    input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                    label.custom-file-label(for='inputGroupFile01') Choose file
            .top-action-body
              h6.mb-0.mr-2 通知上司
              .d-inline-block.mr-2
                input.tags.form-control
              button.btn.btn-success 完成 Drift
              .ml-auto
                button.btn.btn-purple 跳過此步䯅，進入訂單
      #draft-1.tab-pane.fade(role='tabpanel', aria-labelledby='draft-1-tab') 
       .card.my-2.top-action
          .card-body
            .top-action-body.mb-2
              button.btn.btn-warning.mr-2 下載 EXCEL
              .d-inline-block.mr-2
                .input-group
                  .input-group-prepend
                    span#inputGroupFileAddon01.input-group-text Upload
                  .custom-file
                    input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                    label.custom-file-label(for='inputGroupFile01') Choose file
              button.btn.btn-success 完成
            .top-action-body
              .ml-auto
                button.btn.btn-danger 不需出貨
      #draft-2.tab-pane.fade(role='tabpanel', aria-labelledby='draft-2-tab')
        .card.my-2
          .card-body
            form
              table.table.table-sm.table-borderless
                tbody
                  tr
                    th
                      label.col-form-label.col-form-label-sm 廠商型號使用
                    td(colspan="5")
                      .form-check.form-check-inline
                        input#inlineCheckbox1.form-check-input(type='checkbox', value='sku')
                        label.form-check-label(for='inlineCheckbox1') SKU
                      .form-check.form-check-inline
                        input#inlineCheckbox2.form-check-input(type='checkbox', value='model')
                        label.form-check-label(for='inlineCheckbox2') Model (倉庫)
                      .form-check.form-check-inline
                        input#inlineCheckbox3.form-check-input(type='checkbox', value='book')
                        label.form-check-label(for='inlineCheckbox3') Book (會計)
                      .form-check.form-check-inline
                        input#inlineCheckbox4.form-check-input(type='checkbox', value='factoryModel')
                        label.form-check-label(for='inlineCheckbox4') Factory Model (廠商型號)
                  tr
                    th
                      label.col-form-label.col-form-label-sm 收貨倉庫
                    td
                      select.form-control.form-control-sm
                        option(selected='') 請選擇倉庫
                        option(value='1') 倉庫一
                        option(value='2') 倉庫二
                    th
                      label.col-form-label.col-form-label-sm 製作人員
                    td
                      select.form-control.form-control-sm
                        option(selected='') 請選擇人員
                        option(value='1') 人員一
                        option(value='2') 人員二
                    th 
                      label.col-form-label.col-form-label-sm 日期
                    td
                      input.form-control.form-control-sm(type="date")
                  tr
                    th 
                      label.col-form-label.col-form-label-sm Term
                    td
                      input.form-control.form-control-sm(placeholder="Term")
                    th 
                      label.col-form-label.col-form-label-sm 貨運方式
                    td
                      input.form-control.form-control-sm(placeholder="貨運方式")
                    th 
                      label.col-form-label.col-form-label-sm FOB
                    td
                      input.form-control.form-control-sm(placeholder="FOB")
                  tr
                    th 
                      label.col-form-label.col-form-label-sm 訂單編號
                    td
                      input.form-control.form-control-sm(placeholder="訂單編號")
                    th 
                      label.col-form-label.col-form-label-sm 附加訊息
                    td(colspan="3")
                      textarea.form-control.form-control-sm(placeholder="附加訊息")
              .row
                .col-6
                  div.d-flex.align-items-start
                    label.col-form-label.col-form-label-sm.mr-2
                      strong 新增產品 SKU
                    .d-inline-block.mr-4
                      input#list-sku.list-input.form-control.form-control-sm(placeholder="SKU")
                      .invalid-feedback 需輸入 sku
                    label.col-form-label.col-form-label-sm.mr-2
                      strong 數量
                    .d-inline-block.mr-2
                      input#list-count.list-input.form-control.form-control-sm(placeholder="數量" type="number" min="0")
                      .invalid-feedback 需輸入 數量
                    button#add-list.btn-sm.btn.btn-danger.vertical-align-top(type="button") 加入
                  div
                    ul#list-wrapper
                .col-6
                  table.table.table-sm.table-borderless
                    tbody
                      tr
                        th 
                          label.col-form-label.col-form-label-sm 通知上司
                        td
                          input.tags.form-control.form-control-sm(placeholder="通知上司")
                      tr
                        th 
                          label.col-form-label.col-form-label-sm 廠商 email
                        td
                          input.tags.form-control.form-control-sm(placeholder="廠商 email")
                      tr
                        th 
                          label.col-form-label.col-form-label-sm cc
                        td
                          input.tags.form-control.form-control-sm(placeholder="cc, 可用逗點分開")
            .text-right
              button.btn.btn-warning.mr-2 設為預設值
              button.btn.btn-warning.mr-2 下載

dist/purchasing/draft.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mancr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <style>
      form th {
        text-align: right;
        width: 100px;
      }
    </style>
  <link href="../app.3fa33158acbff488549e.css" rel="stylesheet"></head>
  <body>
    <div class="main-container">
      <aside class="home-menu is-opened">
        <div class="logo d-flex justify-content-between"><span>Dashboard</span><i class="fas fa-bars cursor-pointer" data-toggle-class="is-opened" data-toggle-target=".home-menu"></i></div>
        <nav class="menu-list"><a href="/index.html"><i class="fas fa-home"></i><span>Home</span></a><a href="/inventory.html"><i class="fas fa-warehouse"></i><span>Inventory</span></a><a href="/products.html"> <i class="fas fa-box"></i><span>Products</span></a><a href="/orders.html"> <i class="fas fa-file-invoice-dollar"></i><span>FBM Orders</span></a>
          <div class="sub-menu"><a class="active"><i class="fas fa-shopping-basket"></i><span>Purchasing</span></a>
            <nav class="sub-menu-list"><a class="active">Purchasing Estimate</a><a href="/purchasing/draft.html">Shipment Draft</a><a>Purchase Order</a><a>Domestic Supplier</a><a>International Supplier</a></nav>
          </div><a href="/fba.html"> <i class="fas fa-dolly-flatbed"></i><span>FBA</span></a>
          <div class="sub-menu"><a><i class="fas fa-ad"></i><span>Advertisement</span></a>
            <nav class="sub-menu-list"><a href="/advertisement/product.html">Sponsored Product</a><a>AMS</a></nav>
          </div><a><i class="fas fa-chart-bar"></i><span>Report</span></a><a> <i class="fas fa-receipt"></i><span>Refund</span></a><a> <i class="fas fa-file-alt"></i><span>Reimbursement</span></a><a href="/setting/index.html"> <i class="fas fa-cog"></i><span>Setting</span></a>
        </nav>
      </aside>
      <div class="main-container">
        <main class="main">
          <div class="top">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shipment Draft</li>
              </ol>
            </nav>
            <div class="right">
              <input class="mr-sm-2 form-control" placeholder="Search...">
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Logout</a><a class="dropdown-item" href="#">Edit</a></div>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body d-flex py-3">
              <input class="form-control ml-auto" name="dates" style="width: 200px;">
            </div>
          </div>
          <div class="p-3 draft-section">
            <ul class="nav nav-tabs draft-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" id="draft-0-tab" data-toggle="tab" href="#draft-0" role="tab" aria-controls="draft-0" aria-selected="true">Draft</a></li>
              <li class="nav-item"><a class="nav-link" id="draft-1-tab" data-toggle="tab" href="#draft-1" role="tab" aria-controls="draft-1" aria-selected="true">Draft 審查</a></li>
              <li class="nav-item"><a class="nav-link" id="draft-2-tab" data-toggle="tab" href="#draft-2" role="tab" aria-controls="draft-2" aria-selected="false">Draft 轉訂單</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="draft-0" role="tabpanel" aria-labelledby="draft-0-tab"> 
                <div class="card my-2 top-action">
                  <div class="card-body">
                    <div class="top-action-body mb-2">
                      <button class="btn btn-warning mr-2">設為預設值</button>
                      <button class="btn btn-warning mr-2">下載 EXCEL</button>
                      <div class="d-inline-block">
                        <div class="input-group">
                          <div class="input-group-prepend"><span class="input-group-text" id="inputGroupFileAddon01">Upload</span></div>
                          <div class="custom-file">
                            <input class="custom-file-input" id="inputGroupFile01" type="file" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="top-action-body">
                      <h6 class="mb-0 mr-2">通知上司</h6>
                      <div class="d-inline-block mr-2">
                        <input class="tags form-control">
                      </div>
                      <button class="btn btn-success">完成 Drift</button>
                      <div class="ml-auto">
                        <button class="btn btn-purple">跳過此步䯅，進入訂單</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="draft-1" role="tabpanel" aria-labelledby="draft-1-tab"> 
                <div class="card my-2 top-action">
                  <div class="card-body">
                    <div class="top-action-body mb-2">
                      <button class="btn btn-warning mr-2">下載 EXCEL</button>
                      <div class="d-inline-block mr-2">
                        <div class="input-group">
                          <div class="input-group-prepend"><span class="input-group-text" id="inputGroupFileAddon01">Upload</span></div>
                          <div class="custom-file">
                            <input class="custom-file-input" id="inputGroupFile01" type="file" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-success">完成</button>
                    </div>
                    <div class="top-action-body">
                      <div class="ml-auto">
                        <button class="btn btn-danger">不需出貨</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="draft-2" role="tabpanel" aria-labelledby="draft-2-tab">
                <div class="card my-2">
                  <div class="card-body">
                    <form>
                      <table class="table table-sm table-borderless">
                        <tbody>
                          <tr>
                            <th>
                              <label class="col-form-label col-form-label-sm">廠商型號使用</label>
                            </th>
                            <td colspan="5">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="sku">
                                <label class="form-check-label" for="inlineCheckbox1">SKU</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="model">
                                <label class="form-check-label" for="inlineCheckbox2">Model (倉庫)</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox3" type="checkbox" value="book">
                                <label class="form-check-label" for="inlineCheckbox3">Book (會計)</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inlineCheckbox4" type="checkbox" value="factoryModel">
                                <label class="form-check-label" for="inlineCheckbox4">Factory Model (廠商型號)</label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th>
                              <label class="col-form-label col-form-label-sm">收貨倉庫</label>
                            </th>
                            <td>
                              <select class="form-control form-control-sm">
                                <option selected="">請選擇倉庫</option>
                                <option value="1">倉庫一</option>
                                <option value="2">倉庫二</option>
                              </select>
                            </td>
                            <th>
                              <label class="col-form-label col-form-label-sm">製作人員</label>
                            </th>
                            <td>
                              <select class="form-control form-control-sm">
                                <option selected="">請選擇人員</option>
                                <option value="1">人員一</option>
                                <option value="2">人員二</option>
                              </select>
                            </td>
                            <th> 
                              <label class="col-form-label col-form-label-sm">日期</label>
                            </th>
                            <td>
                              <input class="form-control form-control-sm" type="date">
                            </td>
                          </tr>
                          <tr>
                            <th> 
                              <label class="col-form-label col-form-label-sm">Term</label>
                            </th>
                            <td>
                              <input class="form-control form-control-sm" placeholder="Term">
                            </td>
                            <th> 
                              <label class="col-form-label col-form-label-sm">貨運方式</label>
                            </th>
                            <td>
                              <input class="form-control form-control-sm" placeholder="貨運方式">
                            </td>
                            <th> 
                              <label class="col-form-label col-form-label-sm">FOB</label>
                            </th>
                            <td>
                              <input class="form-control form-control-sm" placeholder="FOB">
                            </td>
                          </tr>
                          <tr>
                            <th> 
                              <label class="col-form-label col-form-label-sm">訂單編號</label>
                            </th>
                            <td>
                              <input class="form-control form-control-sm" placeholder="訂單編號">
                            </td>
                            <th> 
                              <label class="col-form-label col-form-label-sm">附加訊息</label>
                            </th>
                            <td colspan="3">
                              <textarea class="form-control form-control-sm" placeholder="附加訊息"></textarea>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col-6">
                          <div class="d-flex align-items-start">
                            <label class="col-form-label col-form-label-sm mr-2"><strong>新增產品 SKU</strong></label>
                            <div class="d-inline-block mr-4">
                              <input class="list-input form-control form-control-sm" id="list-sku" placeholder="SKU">
                              <div class="invalid-feedback">需輸入 sku</div>
                            </div>
                            <label class="col-form-label col-form-label-sm mr-2"><strong>數量</strong></label>
                            <div class="d-inline-block mr-2">
                              <input class="list-input form-control form-control-sm" id="list-count" placeholder="數量" type="number" min="0">
                              <div class="invalid-feedback">需輸入 數量</div>
                            </div>
                            <button class="btn-sm btn btn-danger vertical-align-top" id="add-list" type="button">加入</button>
                          </div>
                          <div>
                            <ul id="list-wrapper"></ul>
                          </div>
                        </div>
                        <div class="col-6">
                          <table class="table table-sm table-borderless">
                            <tbody>
                              <tr>
                                <th> 
                                  <label class="col-form-label col-form-label-sm">通知上司</label>
                                </th>
                                <td>
                                  <input class="tags form-control form-control-sm" placeholder="通知上司">
                                </td>
                              </tr>
                              <tr>
                                <th> 
                                  <label class="col-form-label col-form-label-sm">廠商 email</label>
                                </th>
                                <td>
                                  <input class="tags form-control form-control-sm" placeholder="廠商 email">
                                </td>
                              </tr>
                              <tr>
                                <th> 
                                  <label class="col-form-label col-form-label-sm">cc</label>
                                </th>
                                <td>
                                  <input class="tags form-control form-control-sm" placeholder="cc, 可用逗點分開">
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </form>
                    <div class="text-right">
                      <button class="btn btn-warning mr-2">設為預設值</button>
                      <button class="btn btn-warning mr-2">下載</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css">
    <script>
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });
      
      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();
      
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      var availableTags = [
        "Amy",
        "Bill",
        "Cindy",
        "Dara",
        "Eva",
        "Frank",
        "Gigi",
        "Harry",
        "Ivy",
        "Joe",
        "Kevin",
        "Leo",
        "Mark",
        "Natalia",
        "Oliver",
        "Porter",
        "Queen",
        "Ross",
        "Sarah",
        "Tom",
        "Uba",
        "Van",
        "Wendy",
        "Xena",
        "Yvon",
        "Zoe",
      ];
      $( ".tags" ).autocomplete({
        source: availableTags
      });
      
      var $wrapper = $('#list-wrapper');
      function checkList() {
        var length = $wrapper.children().length;
        if (length) {
          $wrapper.addClass('has-value');
        } else {
          $wrapper.removeClass('has-value');
        }
      }
      
      $('.list-input').blur(function() {
        $(this).removeClass('is-invalid');
      });
      $('#add-list').click(function() {
        var $sku = $('#list-sku');
        var $count = $('#list-count');
        
        var error = false;
        if (!$sku.val()) {
          $sku.addClass('is-invalid');
          error = true;
        }
        if (!$count.val()) {
          $count.addClass('is-invalid');
          error = true;
        }
        if (!error) {
          var li = document.createElement("li");
          var btn = document.createElement("button");
          li.innerHTML = '<span> SKU: ' + $sku.val() + ' / Count: ' + $count.val() + '</span>'
          btn.type = 'button';
          btn.className = 'btn btn-sm';
          btn.innerHTML = '<i class="fas fa-trash-alt"></i>';
          btn.addEventListener("click", function(){ 
            $(this).parent().remove();
            checkList();
          });
          $(li).append(btn);
          $wrapper.append(li);
          $sku.val('');
          $count.val('');
          checkList();
        }
      });
      
      
    </script>
  <script type="text/javascript" src="../app.3fa33158acbff488549e.bundle.js"></script></body>
</html>
