dist/setting/warehouse/show.html
<!DOCTYPE html>
<html>
  <head>
    <title>Mancr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link href="../../app.3fa33158acbff488549e.css" rel="stylesheet"></head>
  <body>
    <div class="main-container">
      <aside class="home-menu is-opened">
        <div class="logo d-flex justify-content-between"><span>Dashboard</span><i class="fas fa-bars cursor-pointer" data-toggle-class="is-opened" data-toggle-target=".home-menu"></i></div>
        <nav class="menu-list"><a href="/index.html"><i class="fas fa-home"></i><span>Home</span></a><a href="/inventory.html"><i class="fas fa-warehouse"></i><span>Inventory</span></a><a href="/products.html"> <i class="fas fa-box"></i><span>Products</span></a><a href="/orders.html"> <i class="fas fa-file-invoice-dollar"></i><span>FBM Orders</span></a>
          <div class="sub-menu"><a><i class="fas fa-shopping-basket"></i><span>Purchasing</span></a>
            <nav class="sub-menu-list"><a>Purchasing Estimate</a><a href="/purchasing/draft.html">Shipment Draft</a><a>Purchase Order</a><a>Domestic Supplier</a><a>International Supplier</a></nav>
          </div><a href="/fba.html"> <i class="fas fa-dolly-flatbed"></i><span>FBA</span></a>
          <div class="sub-menu"><a><i class="fas fa-ad"></i><span>Advertisement</span></a>
            <nav class="sub-menu-list"><a href="/advertisement/product.html">Sponsored Product</a><a>AMS</a></nav>
          </div><a><i class="fas fa-chart-bar"></i><span>Report</span></a><a> <i class="fas fa-receipt"></i><span>Refund</span></a><a> <i class="fas fa-file-alt"></i><span>Reimbursement</span></a><a class="active" href="/setting/index.html"> <i class="fas fa-cog"></i><span>Setting</span></a>
        </nav>
      </aside>
      <div class="main-container">
        <main class="main">
          <div class="top">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/setting/">Setting</a></li>
                <li class="breadcrumb-item"><a href="/setting/warehouse/index.html">Warehouse</a></li>
                <li class="breadcrumb-item active" aria-current="page">WH1</li>
              </ol>
            </nav>
            <div class="right">
              <input class="mr-sm-2 form-control" placeholder="Search...">
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Logout</a><a class="dropdown-item" href="#">Edit</a></div>
              </div>
            </div>
          </div>
          <div class="px-3">
            <nav class="setting-nav"><a href="/setting/index.html">Setting</a><a href="/setting/account/index.html">帳號</a><a class="active" href="/setting/warehouse/index.html">倉庫</a><a href="/setting/staff/index.html">員工</a><a href="/setting/vendor/index.html">廠商</a><a href="/setting/sop/index.html">SOP</a></nav>
            <div class="py-3">
              <div style="max-width: 700px">
                <div class="d-flex align-items-center justify-content-between"><a class="btn btn-sm btn-light ml-1" href="/setting/warehouse/index.html">返回列表</a>
                  <div><a class="btn btn-sm btn-primary ml-1" href="/setting/warehouse/edit.html">Edit</a>
                    <button class="btn btn-sm btn-danger del-btn ml-1" data-warehouse-id="1" data-toggle="modal" data-target="#delete-modal">Delete</button>
                  </div>
                </div>
                <div class="card mt-2">
                  <div class="card-body">
                    <table class="table table-sm table-borderless mt-2"> 
                      <tbody>
                        <tr>
                          <th class="text-right">名稱</th>
                          <td>WH1</td>
                          <th class="text-right">代碼</th>
                          <td>AGGI</td>
                        </tr>
                        <tr> 
                          <th class="text-right">聯絡人</th>
                          <td>John</td>
                          <th class="text-right">公司</th>
                          <td>Xabc international inc</td>
                        </tr>
                        <tr> 
                          <th class="text-right">地址</th>
                          <td>abc st. City, NY 10039	</td>
                          <th class="text-right">電話</th>
                          <td>123-123-123	</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="delete-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form>
                  <input type="hidden" name="warehouse_id">
                  <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">刪除</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <p>確定刪除嗎？</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit" data-dismiss="modal">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.css">
    <script>
      $('input[name="dates"]').daterangepicker({
        ranges: {
          'Past 7 days': [moment().subtract(6, 'days'), moment()],
          'Past 14 days': [moment().subtract(13, 'days'), moment()],
          'Past 30 days': [moment().subtract(29, 'days'), moment()],
          'Past 60 days': [moment().subtract(59, 'days'), moment()],
          'Past 3 Months': [moment().subtract(3, 'month'), moment()],
          'Past 6 Months': [moment().subtract(6, 'month'), moment()],
          'Past Year': [moment().subtract(1, 'year'), moment()],
        },
        "opens": "left",
        "showCustomRangeLabel": false,
        "alwaysShowCalendars": true
      }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });
      $('input.date-picker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
      });
      
      $('input.date-picker').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });
      $('.scrollbar-wrapper').scrollbar();
      
    </script>
    <script>
      $('.del-btn').click(function() {
        var warehouseId = $(this).data('warehouseId');
        $('#delete-modal').find('input[name="warehouse_id"]').val(warehouseId);
      });
    </script>
  <script type="text/javascript" src="../../app.3fa33158acbff488549e.bundle.js"></script></body>
</html>

src/views/pages/setting/warehouse/show.pug
extends ../../../app.pug
block variables
  - var title = 'Setting - Warehouse'
  - var activePage = 'setting'
  - var subPage = 'setting-3'
block header
  - var breads = [{ name:"Setting", href:"/setting/"}, { name:"Warehouse", href:"/setting/warehouse/index.html"}, { name:"WH1", href:""}]
    include ../../../particles/_breadcrumb.pug
block content
  .px-3
    include ../particles/_nav.pug
    .py-3
      div(style="max-width: 700px")
        .d-flex.align-items-center.justify-content-between
            a.btn.btn-sm.btn-light.ml-1(href="/setting/warehouse/index.html") 返回列表
            div
              a.btn.btn-sm.btn-primary.ml-1(href="/setting/warehouse/edit.html") Edit
              button.btn.btn-sm.btn-danger.del-btn.ml-1(data-warehouse-id="1" data-toggle="modal" data-target="#delete-modal") Delete
        .card.mt-2
          .card-body
            table.table.table-sm.table-borderless.mt-2 
              tbody
                tr
                  th.text-right 名稱
                  td WH1
                  th.text-right 代碼
                  td AGGI
                tr 
                  th.text-right 聯絡人
                  td John
                  th.text-right 公司
                  td Xabc international inc
                tr 
                  th.text-right 地址
                  td abc st. City, NY 10039	
                  th.text-right 電話
                  td 123-123-123	
  include ./modal/_layout.pug
block scripts
  include ./modal/_js.pug
